:root{
    --vermelho: #E50914; 
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    font-family: 'Time New Roman', Times, serif;
}

header.logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}